@model PasswordLibrary.DataAccess.Password

@{
    ViewData["Title"] = "Delete";
}
<div>
    <a asp-controller="Password" asp-action="Index" asp-route-id="@ViewBag.user.Id" asp-route-inx=1 style="text-decoration-line:none">
        <i class="fa-solid fa-arrow-left fa-2x"></i>
    </a>
    <h1 style="color:sienna; text-align:center">Delete Password</h1>
</div>
<br />
<div>
    <h4 style="color:blue; font-weight:lighter">Are you sure you want to delete this Password?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            Saved Password
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SavedPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-uid="@ViewBag.user.Id">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <hr />
    <p style="color:red;">
        @ViewBag.mess
    </p>
    
</div>
